<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comapi">

    <!-- TESTS -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- SDK will receive a notification when phone finish booting. This is to restore the services and keep SDK responsive -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true">

        <!-- Broadcast receiver for boot completed broadcasts to resume work after device restart. -->
        <receiver
            android:name="com.comapi.internal.receivers.BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Service to handle Instance ID service token refresh notifications for FCM security. -->
        <service
            android:name="com.comapi.internal.push.IDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.comapi.internal.push.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
